html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('./fonts/gotham-book.otf') format('opentype');
}
  
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Gotham Book', sans-serif;
    overflow: visible;
}